@import "tailwindcss";

:root {
  --color-reniec-blue: #002f56;
  --color-reniec-blue-light: #2e6f9e;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  color: #1a1a1a;
  background: #ffffff;
}
